<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.zmz.mybatis.mapper.WindowFunTestMapper">

<!--    <cache/>-->

    <select id="selectAll" resultType="github.zmz.mybatis.entity.WindowFunTest">
        select * from window_fun_test
    </select>

</mapper>
